@using DxBlazorApplication7.Data
@inject DataService DataService

<DxTabs CssClass="tabs" SizeMode="SizeMode.Large">
    <DxTabPage Text="@GetSegmentVaule(Param1)">
        <div>
            <DxGridLayout RowSpacing="0.8rem" ColumnSpacing="3rem">
                <Rows>
                    <DxGridLayoutRow Height="auto"></DxGridLayoutRow>
                </Rows>
                <Columns>
                    <DxGridLayoutColumn></DxGridLayoutColumn>
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0">
                        <Template>
                            <div class="background-cards">
                                <ESOP_3rd_Page Param="@_ESOPStatus"></ESOP_3rd_Page>
                            </div>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>
        </div>
    </DxTabPage>
    @* <DxTabPage Text="設備終端狀態">
        <div class="background-cards"></div>
    </DxTabPage>
    <DxTabPage Text="運作參數列表">
        <div></div>
    </DxTabPage> *@
</DxTabs>

@code {
    [Parameter]
    public string Param1 { get; set; }

    private List<StationStatus>? _StationStatus;
    private List<ESOPStatus>? _ESOPStatus;

    protected override async Task OnInitializedAsync()
    {
        _StationStatus = await DataService.GetStationStatusAsync();
        _ESOPStatus = await DataService.GetESOPStatusAsync();
        _ESOPStatus = _ESOPStatus.Where(x => x.StationID == Param1).ToList();
    }

    string? GetSegmentVaule(string item)
    {
        return _StationStatus.SingleOrDefault(x => x.StationKey + x.StationID.ToString() == item).StationName;
    }
}
