@page "/"

@*<h1 class="pb-2">TRI產線-線上派工系統</h1>*@
<div class="pb-2">
<p class="pb-2 mw-1100">
    @*<img class="fit-width" src="images/Robot-poster.jpg" style="height: 36%; width: 36%; float:left" >*@
    <h5 class="pb-2">&emsp;&emsp;&emsp;線上報工<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;用於管理製造工廠的人力資源，並確保生產線上的工作人員得到有效的指派和安排。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;這種系統通常包含以下功能：<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;1.人員資料管理：記錄員工的基本資料、技能和經驗等信息。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;2.生產排程：根據生產計劃和產線需求，將員工指派到合適的工作站，並確保每個工作站都有足夠的人力資源。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;3.工作進度跟踪：跟踪員工的工作進度和生產線上的產品流程，並及時調整指派以應對任何生產線上的問題。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;4.數據分析和報告：分析員工的表現和生產線上的效率，提供報告和數據以幫助管理層作出更好的決策。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;5.安全和監控：監控生產線上的工作環境和員工的安全，以確保所有操作都符合安全標準。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;使用產線線上派工系統可以提高生產線上的效率和產品質量，同時減少生產過程中的錯誤和工作延誤。<br></h5>

    <h5 class="pb-2">&emsp;&emsp;&emsp;線上SOP（Standard Operating Procedure，標準作業程序）<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;在數位平台上編制和管理的標準作業程序文件。這些程序文件詳細描述了如何執行任務的流程，以確保一致性和效率。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;統一標準：確保所有員工遵循相同的操作標準，減少錯誤和重工。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;簡化培訓：新員工可以通過線上SOP進行自學，加快上手速度。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;一致性：確保操作過程中的一致性，提升工作質量和結果的一致性。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;持續改進：通過實時更新和反饋機制，持續改進業務流程和操作標準。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;減少紙張和印刷成本：數位化文檔降低了物理存儲和印刷的需求。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;節省時間：提高工作效率，減少因流程不清或錯誤導致的時間浪費。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;實時更新和審核：確保SOP與最新的法律法規和公司政策一致，降低違規風險。<br></h5>
    <h5 class="pb-2">&emsp;&emsp;&emsp;清晰的操作流程：所有員工可以輕鬆查閱操作程序，了解公司流程和要求。<br></h5>
    <img>
</p>
</div>
<div class="pb-2">
    <img class="fit-width" src="images/Techman Robot.png" style="height: 24%; width: 24%; float:right" align="bottom" />
</div>
@*<h2 class="mb-4 mt-4">Helpful Resources</h2>*@

<ul>
@*    <li><a class="helplink" href="https://demos.devexpress.com/blazor/" target="_blank">Online Demos</a></li>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor/blob/master/examples.md" target="_blank">Examples</a></li>
    <li><a class="helplink" href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
    <li><a class="helplink" href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor Training Course</a></li>*@
</ul>